doctype html 

head 
    block head 
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='/css/style.css')
        link(rel='shortcut icon' type='/image/png' href='/img/favicon.ico')
        link 
        link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Rubik:ital,wght@0,400;0,500;0,700;1,600&display=swap')
        title Quiz | #{title}

body 
    // HEADER
    include _header

    // CONTENT
    block content 
        h1 placeholder 

    // FOOTER
    include _footer

script(defer src="js/script.js")
