extends base
    
block content   
    .game
        .game__timer 
        .game__question Question?
        .game__answers 
            .game__answer Answer 1
            .game__answer Answer 2
            .game__answer Answer 3


